.container {
  height: 100vh;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Bree Serif';
  color: #f0bb03;
  font-size: 50px;
}

.wish {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 25px;
}

.button {
  font-family: 'Bree Serif';
  background-color: #ffffff;
  padding: 8px;
  border-width: 0px;
  border-radius: 8px;
}
